.otp-wrapper{
  box-sizing: border-box;
  padding: 1rem 2rem;
}

.input-container{
    display: flex;
    gap: 4px;
    justify-content: center;
}
.otp-input {
  width: 40px;
  height: 40px;
  font-size: 24px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 4px;
}

h3{
  text-align: center;
  padding-bottom: 20px;
}
h3 span{
  color:var(--secondary-color)
}
.otp-input:focus{
  box-shadow: 0 0 10px var(--secondary-color);
  border: 1px solid var(--neutral-color);
}