.mobile-field{
    width: 100%;
    padding: 12px 2px;
    border-bottom: 1px solid;
    
}

.forgot-pass{
    color: var(--accent-color);
    cursor:pointer;

}

.forgot-pass:hover{
    text-decoration: underline;
}