nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
    padding: 12px 0px;
}

.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    gap: 8px;
    border-radius: 20px;
    border: 1px solid rgba(124, 124, 124, 0.4);
}

.search-input{
    border: none;
    outline: none;
    
    width: 60vw;
    padding: 8px 4px;
}


.menu-cont{
    display: flex;
    align-items: center;
    gap: 12px;
}

.register-btn{
    background-color: var(--secondary-color);
    color: white;
    border: none;
    font-size:16px;
    border-radius: 10px;
}

.register-btn:hover{
    background-color: rgba(235, 95, 40,0.8);
}
.profile-btn{
    border-radius: 50%;
    padding: 2px 8px;
}

.backdrop{
    position: fixed;
    min-height: 100vh;
    inset: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.4);
}

@media (max-width:780px){
    .search-container{
        display: none;
    }
}

