nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
    padding: 12px 0px;
    
}

.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    gap: 8px;
    border-radius: 20px;
    border: 1px solid rgba(124, 124, 124, 0.4);
    position: relative;
}

.search-suggestions-container{
    position: absolute;
    top: 100%;
    transform: translateY(0px);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    min-height: 50px;
    max-height: 80vh;
    z-index: 100;
    padding: 8px 12px;
    overflow-y: auto;
   
}

.suggestions{
    border: solid 1px rgba(128,128,128,0.3);
    cursor: pointer;
    margin-bottom: 0.5rem   ;
    padding: 4px 8px;
    border-radius: 20px;
    
}

.search-input{
    border: none;   
    outline: none;
    border-radius: 20px;
    width: 60vw;
    padding: 8px 4px;
}


.menu-cont{
    display: flex;
    align-items: center;
    gap: 12px;
}

.register-btn{
    background-color: var(--secondary-color);
    color: white;
    border: none;
    font-size:16px;
    border-radius: 10px;
}

.register-btn:hover{
    background-color: rgba(235, 95, 40,0.8);
}
.profile-btn{
    border-radius: 50%;
    padding: 2px 8px;
}

.backdrop{
    position: fixed;
    min-height: 100vh;
    inset: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.4);
}

@media (max-width:780px){
    .search-container{
        display: none;
    }
}

.city-dropdown {
  border: none;
  background: transparent;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}


